In [363]:
import pandas as pd
import numpy  as np

In [364]:
df_raw = pd.read_excel('Superstore.xlsx')
df_raw1 = pd.read_excel('Superstore.xlsx', sheet_name=1)
df_raw2 = pd.read_excel('Superstore.xlsx', sheet_name=2)

In [365]:
df_raw.columns, df_raw1.columns, df_raw2.columns

(Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
        'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
        'State', 'Postal Code', 'Region', 'Product ID', 'Category',
        'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
        'Profit'],
       dtype='object'),
 Index(['Regional Manager', 'Region'], dtype='object'),
 Index(['Returned', 'Order ID'], dtype='object'))

In [366]:
### check common factors of missing values
for c in df_raw.columns:
    print(c, df_raw[df_raw['Postal Code'].isna()][c].unique())

Row ID [2235 5275 8799 9147 9148 9149 9387 9388 9389 9390 9742]
Order ID ['CA-2021-104066' 'CA-2019-162887' 'US-2020-150140' 'US-2020-165505'
 'US-2021-127292' 'CA-2019-117086']
Order Date ['2021-12-05T00:00:00.000000000' '2019-11-07T00:00:00.000000000'
 '2020-04-06T00:00:00.000000000' '2020-01-23T00:00:00.000000000'
 '2021-01-19T00:00:00.000000000' '2019-11-08T00:00:00.000000000']
Ship Date ['2021-12-10T00:00:00.000000000' '2019-11-09T00:00:00.000000000'
 '2020-04-10T00:00:00.000000000' '2020-01-27T00:00:00.000000000'
 '2021-01-23T00:00:00.000000000' '2019-11-12T00:00:00.000000000']
Ship Mode ['Standard Class' 'Second Class']
Customer ID ['QJ-19255' 'SV-20785' 'VM-21685' 'CB-12535' 'RM-19375']
Customer Name ['Quincy Jones' 'Stewart Visinsky' 'Valerie Mitchum' 'Claudia Bergmann'
 'Raymond Messe']
Segment ['Corporate' 'Consumer' 'Home Office']
Country/Region ['United States']
City ['Burlington']
State ['Vermont']
Postal Code [nan]
Region ['East']
Product ID ['TEC-AC-10001013' 'FUR-CH-10000595' 'TEC-PH-10002555' 'TEC-AC-10002926'
 'OFF-AR-10003477' 'OFF-ST-10001526' 'OFF-PA-10000157' 'OFF-PA-10001970'
 'OFF-AP-10000828' 'OFF-EN-10001509' 'FUR-BO-10004834']
Category ['Technology' 'Furniture' 'Office Supplies']
Sub-Category ['Accessories' 'Chairs' 'Phones' 'Art' 'Storage' 'Paper' 'Appliances'
 'Envelopes' 'Bookcases']
Product Name ['Logitech ClearChat Comfort/USB Headset H390'
 'Safco Contoured Stacking Chairs' 'Nortel Meridian M5316 Digital phone'
 'Logitech Wireless Marathon Mouse M705' '4009 Highlighters'
 'Iceberg Mobile Mega Data/Printer Cart' 'Xerox 191' 'Xerox 1881'
 'Avanti 4.4 Cu. Ft. Refrigerator' 'Poly String Tie Envelopes'
 'Riverside Palais Royal Lawyers Bookcase, Royale Cherry Finish']
Sales [2.05030e+02 7.15200e+02 1.29475e+03 9.99800e+01 8.04000e+00 1.56429e+03
 7.99200e+01 1.22800e+01 5.42940e+02 2.04000e+00 4.40490e+03]
Quantity [ 7  3  5  2  6 13  4  1]
Discount [0.]
Profit [6.765990e+01 1.788000e+02 3.366350e+02 4.299140e+01 2.733600e+00
 4.067154e+02 3.756240e+01 5.771600e+00 1.520232e+02 9.588000e-01
 1.013127e+03]

In [367]:
###repalce Country/Region ['United States'], City ['Burlington'], State ['Vermont']by 100000
df_raw['Postal Code'] = df_raw['Postal Code'].replace(np.nan, 10000)
df_raw['Postal Code'].isna().sum()

0

In [368]:
### product names are wrong
df_raw[['Product ID', 'Product Name']]
for id in df_raw['Product ID'].unique():
    #print(len(df_raw[df_raw['Product ID']==id]['Product Name'].unique()))
    if len(df_raw[df_raw['Product ID']==id]['Product Name'].unique()) > 1 :
        #print(df_raw[df_raw['Product ID'] == id]['Product Name'].mode().values[0])
        df_raw.loc[df_raw['Product ID'] == id, 'Product Name'] = df_raw[df_raw['Product ID'] == id]['Product Name'].mode().values[0]
        #print(df_raw[df_raw['Product ID'] == id][['Product ID', 'Product Name', 'Sub-Category']])

In [369]:
### Postal with worng location
for id in df_raw['Postal Code'].unique():
    if len(df_raw[df_raw['Postal Code']==id][['Region', 'Country/Region', 'City', 'State']].drop_duplicates()) > 1 :
        print('check', df_raw[df_raw['Postal Code']==id][['Postal Code', 'Region', 'Country/Region', 'City', 'State']].drop_duplicates())
        
        df_raw.loc[df_raw['Postal Code'] == id, 'City'] = df_raw[df_raw['Postal Code'] == id]['City'].mode().values[0]
        print('Updated', df_raw.loc[df_raw['Postal Code'] == id, 'City'], df_raw[df_raw['Postal Code'] == id]['City'].mode())

check       Postal Code Region Country/Region       City       State
481       92024.0   West  United States  San Diego  California
1113      92024.0   West  United States  Encinitas  California
Updated 481     San Diego
594     San Diego
595     San Diego
596     San Diego
597     San Diego
1113    San Diego
1114    San Diego
1115    San Diego
1543    San Diego
1544    San Diego
1551    San Diego
1924    San Diego
2259    San Diego
2260    San Diego
2606    San Diego
2674    San Diego
2819    San Diego
2820    San Diego
2946    San Diego
2947    San Diego
2948    San Diego
3292    San Diego
3293    San Diego
3528    San Diego
4396    San Diego
5638    San Diego
5639    San Diego
6298    San Diego
6672    San Diego
6698    San Diego
6699    San Diego
6700    San Diego
7189    San Diego
7190    San Diego
7918    San Diego
8684    San Diego
8955    San Diego
9060    San Diego
9061    San Diego
Name: City, dtype: object 0    San Diego
dtype: object

In [370]:
for id in df_raw['Order ID'].unique():
    if len(df_raw[df_raw['Order ID']==id][['Order ID', 'Customer ID', 'Product ID', 'Postal Code', 'Order Date', 'Sales', 'Quantity', 'Discount', 'Profit']].drop_duplicates()) > 1 :
        print('check', df_raw[df_raw['Order ID']==id][['Order ID', 'Customer ID', 'Product ID', 'Postal Code', 'Order Date', 'Sales', 'Quantity', 'Discount', 'Profit']].drop_duplicates())
        
        #df_raw.loc[df_raw['Order ID'] == id, 'City'] = df_raw[df_raw['Order ID'] == id]['City'].mode().values[0]
        print('Updated')

        if True:
            break

check          Order ID Customer ID       Product ID  Postal Code Order Date  \
0  CA-2020-152156    CG-12520  FUR-BO-10001798      42420.0 2020-11-08
1  CA-2020-152156    CG-12520  FUR-CH-10000454      42420.0 2020-11-08

    Sales  Quantity  Discount    Profit
0  261.96         2       0.0   41.9136
1  731.94         3       0.0  219.5820
Updated

In [371]:
df_raw['Product Name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [372]:
df_raw['Product Name']

0                       Bush Somerset Collection Bookcase
1       Hon Deluxe Fabric Upholstered Stacking Chairs,...
2       Self-Adhesive Address Labels for Typewriters b...
3           Bretford CR4500 Series Slim Rectangular Table
4                          Eldon Fold 'N Roll Cart System
                              ...
9989                               Ultra Door Pull Handle
9990    Tenex B1-RE Series Chair Mats for Low Pile Car...
9991                                Aastra 57i VoIP phone
9992    It's Hot Message Books with Stickers, 2 3/4" x 5"
9993    Acco 7-Outlet Masterpiece Power Center, Wihtou...
Name: Product Name, Length: 9994, dtype: object

In [378]:
df_rm = df_raw1.to_csv('../data/rm.csv', index=False)

df_add = df_raw[['Postal Code', 'Region', 'Country/Region', 'City', 'State']].drop_duplicates().to_csv('../data/address.csv', index=False)
df_product = df_raw[['Product ID', 'Category', 'Sub-Category', 'Product Name']].drop_duplicates().to_csv('../data/product.csv', index=False)
df_order = df_raw[['Order ID', 'Customer ID', 'Product ID', 'Postal Code', 'Order Date', 'Sales', 'Quantity', 'Discount', 'Profit']].to_csv('../data/order.csv', index=False)
df_ship = df_raw[['Order ID', 'Ship Date', 'Ship Mode']].drop_duplicates().to_csv('../data/ship.csv', index=False)

###think more

df_cus = df_raw[['Customer ID', 'Customer Name', 'Segment']].drop_duplicates().to_csv('../data/customer.csv', index=False)

df_re = df_raw2.drop_duplicates().to_csv('../data/return.csv', index=False)

In [374]:
df_raw[['Order ID', 'Customer ID', 'Product ID', 'Postal Code', 'Order Date', 'Sales', 'Quantity', 'Discount', 'Profit']].sort_values(by='Customer ID')

,Order ID,Customer ID,Product ID,Postal Code,Order Date,Sales,Quantity,Discount,Profit
2229,CA-2018-128055,AA-10315,OFF-BI-10004390,94122.0,2018-03-31,673.568,2,0.2,252.5880
1160,CA-2021-147039,AA-10315,OFF-BI-10004654,55407.0,2021-06-29,11.540,2,0.0,5.7700
2230,CA-2018-128055,AA-10315,OFF-AP-10002765,94122.0,2018-03-31,52.980,2,0.0,14.8344
1159,CA-2021-147039,AA-10315,OFF-AP-10000576,55407.0,2021-06-29,362.940,3,0.0,90.7350
7469,CA-2018-138100,AA-10315,FUR-FU-10002456,10011.0,2018-09-15,14.560,2,0.0,6.2608
...,...,...,...,...,...,...,...,...,...
8341,CA-2021-141481,ZD-21925,OFF-AP-10004532,90036.0,2021-06-11,61.440,3,0.0,16.5888
3040,US-2020-147991,ZD-21925,FUR-FU-10004270,37421.0,2020-05-05,16.720,5,0.2,3.3440
3815,CA-2020-152471,ZD-21925,OFF-PA-10004965,32216.0,2020-07-08,15.984,2,0.2,4.9950
5898,CA-2020-167682,ZD-21925,TEC-PH-10000673,47374.0,2020-04-03,259.960,4,0.0,124.7808
18,CA-2018-143336,ZD-21925,OFF-AR-10003056,94109.0,2018-08-27,8.560,2,0.0,2.4824

In [375]:
len(df_raw['Order ID'].unique())

5009

In [376]:
df_raw[['Customer ID', 'Customer Name', 'Segment']].drop_duplicates().sort_values(by='Customer ID')

     Customer ID       Customer Name    Segment
1159    AA-10315          Alex Avila   Consumer
535     AA-10375        Allen Armold   Consumer
12      AA-10480        Andrew Allen   Consumer
4020    AA-10645       Anna Andreadi   Consumer
4961    AB-10015       Aaron Bergman   Consumer
...          ...                 ...        ...
481     XP-21865        Xylona Preis   Consumer
753     YC-21895      Yoseph Carroll  Corporate
1393    YS-21880       Yana Sorensen  Corporate
588     ZC-21910    Zuschuss Carroll   Consumer
18      ZD-21925  Zuschuss Donatelli   Consumer

[793 rows x 3 columns]

In [377]:
df_raw.to_csv('../data/updated_dataset.csv', index=False)